[defaults]
inventory = inventory.ini
host_key_checking = False
remote_user = ubuntu
private_key_file = ../terraform/todo-ec2-key.pem
retry_files_enabled = False
timeout = 60

[ssh_connection]
pipelining = True
ssh_args = -o ConnectTimeout=30 -o ServerAliveInterval=15 -o ServerAliveCountMax=12
retries = 6